<!DOCTYPE html>
<html>
	<head>
		<title>Is your phone sitting?</title>

		<style type="text/css">
		html, body {
			min-height: 100%;
		}
		body {
			background-image: none;
			background-repeat: no-repeat;
			background-size: 0;
			background-position: center;
		}
		.Absolute-Center {
			width: 400px;
			height: 100px;
			margin-left: -200px;
			margin-top: -50px;
			position: fixed;
			top: 50%;
			left: 50%;
		}
		.message {
			text-align: center;
		}
		</style>
	</head>
	<body style="">
		<h1 class="Absolute-Center message">
			Hello
		</h1>

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/mobile-detect.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
	</body>
</html>
